{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
    <h1>Add a Category</h1>
    <div>
        <form id="category_form" method="post" action="{% url 'rango:add_category' %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
            <div class="col-lg-6 mb-4">
                <div class="form-floating">
                     {{ field }}
                    <label for="floatingname light-300">Name</label>
                </div>
            </div>

            {% endfor %}

            <div class="col-md-12 col-12 m-auto text-end">
                <button type="submit" name="submit"
                        class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Create
                    Category
                </button>
            </div>
        </form>
    </div>
{% endblock %}
