<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
<html lang="en">

<head>
    <title>
        Rango -
        {% block title_block %}
        How to Tango with Django!
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{% static 'images/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- Load Require CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font CSS -->
    <link href="{% static 'css/boxicon.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="{% static 'css/templatemo.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.5.0/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/zzsc-demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}" />
</head>

<!-- Load jQuery require for isotope -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom -->
<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'js/mo.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>

<body>
<!-- Header -->
<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1" href="{% url 'rango:index' %}">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4">Rango</span> <span class="text-primary h4">BETA</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
             id="navbar-toggler-success">
            <div class="flex-fill mx-xl-5 mb-2">
                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'rango:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'rango:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'rango:categories' %}">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'rango:learning_list' %}">Learning List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="{% url 'rango:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-15">
                <form method='get' action="/search/" target="_blank">
                    <input type="text" name="q" style="width:200px;" placeholder="Input keyword for page">
                    <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-1.5 radius-0 text-light light-300">Search</button>
                </form>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-link" href="{% url 'rango:user_profile' %}"><i class='bx bx-user-circle bx-sm text-primary'></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Header -->


<!--start blank space-->
<section class="container py-5">
<div>
    {% block body_block %}
    {% endblock %}
</div>
</section>
<!--<div>-->
<!--    {% block sidebar_block %}-->
<!--    {% get_category_list category%}-->
<!--    {% endblock %}-->
<!--</div>-->
<hr/>

<!--close blank space-->

<!-- Start Footer -->
<footer class="bg-secondary pt-4">
    <div class="container">
        <div class="row py-4">

            <div class="col-lg-3 col-12 align-left">
                <a class="navbar-brand" href="index.html">
                    <i class='bx bx-buildings bx-sm text-light'></i>
                    <span class="text-light h5">Rango</span> <span class="text-light h5 semi-bold-600">beta</span>
                </a>
                <p class="text-light my-lg-4 my-2">
                    Learn more on Rango!
                </p>
                <ul class="list-inline footer-icons light-300">
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="http://facebook.com/">
                            <i class='bx bxl-facebook-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.linkedin.com/">
                            <i class='bx bxl-linkedin-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.whatsapp.com/">
                            <i class='bx bxl-whatsapp-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.flickr.com/">
                            <i class='bx bxl-flickr-square bx-md'></i>
                        </a>
                    </li>
                    <li class="list-inline-item m-0">
                        <a class="text-light" target="_blank" href="https://www.medium.com/">
                            <i class='bx bxl-medium-square bx-md'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h3 class="h4 pb-lg-3 text-light light-300">For Rango</h3>
                <ul class="list-unstyled text-light light-300">


                    {% if user.is_authenticated %}
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a class="text-decoration-none text-light"
                                                                           href="{% url 'rango:restricted' %}">Restricted
                        Page</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                            class="text-decoration-none text-light py-1" href="{% url 'rango:logout' %}">Logout</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                            class="text-decoration-none text-light py-1" href="{% url 'rango:add_category' %}">Add New
                        Category</a>
                    </li>
                    {% else %}
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                            class="text-decoration-none text-light py-1" href="{% url 'rango:register' %}">Sign Up</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                            class="text-decoration-none text-light py-1" href="{% url 'rango:login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                            class="text-decoration-none text-light py-1" href="{% url 'rango:about' %}">About</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bxs-chevron-right bx-xs'></i><a
                            class="text-decoration-none text-light py-1" href="{% url 'rango:index' %}">Index</a>
                    </li>


                </ul>
            </div>


            <div class="col-lg-3 col-md-4 my-sm-0 mt-4">
                <h2 class="h4 pb-lg-3 text-light light-300">Contact us</h2>
                <ul class="list-unstyled text-light light-300">
                    <li class="pb-2">
                        <i class='bx-fw bx bx-phone bx-xs'></i><a class="text-decoration-none text-light py-1"
                                                                  href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li class="pb-2">
                        <i class='bx-fw bx bx-mail-send bx-xs'></i><a class="text-decoration-none text-light py-1"
                                                                      href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="w-100 bg-primary py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-start text-center text-light light-300">
                        © Copyright 2021 Rango. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-end text-center text-light light-300">
                        Created by <strong>ITECH6</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<!-- Page Script -->
<script>
        $(window).load(function() {
            // init Isotope
            var $projects = $('.projects').isotope({
                itemSelector: '.project',
                layoutMode: 'fitRows'
            });
            $(".filter-btn").click(function() {
                var data_filter = $(this).attr("data-filter");
                $projects.isotope({
                    filter: data_filter
                });
                $(".filter-btn").removeClass("active");
                $(".filter-btn").removeClass("shadow");
                $(this).addClass("active");
                $(this).addClass("shadow");
                return false;
            });
        });




</script>
<!-- Templatemo -->
<script src="{% static 'js/templatemo.js' %}"></script>


</body>

</html>