{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<div id="heart">
    <div class="left"></div>
    <div class="right"></div>
</div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="py-5 row d-flex align-items-center">
                    <div class="banner-content col-lg-9 col-8 offset-2 m-lg-auto text-left py-5 pb-0">
                        <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-6 mx-0 px-0 light-300 typo-space-line">
                            Rango says...
                            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
                        </h1>
                        <p class="banner-body text-muted py-5 mx-2 px-0">
                            {% if user.is_authenticated %}
                            howdy {{ user.username }}!
                            {% else %}
                            hey there partner!
                            {% endif %}
                            <br />
                            <strong>{{ boldmessage }}</strong>


                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-light pt-sm-0 py-5">
        <div class="container py-5">
            <h1 class="h2 semi-bold-600 text-center mt-2">Most Liked Categories</h1>
            <p class="text-center pb-5 light-300">Here are the most popular categories on Rango!</p>
            <div class="pricing-horizontal row col-20 m-auto d-flex shadow-sm rounded overflow-hidden bg-white">
                <div class="pricing-horizontal-icon col-md-3 text-center bg-secondary text-light py-4">
                    <i class="display-1 bx bx-buildings pt-4"></i>
                </div>
                <div class="pricing-horizontal-body offset-lg-1 col-md-5 col-lg-4 d-flex align-items-center pl-5 pt-lg-0 pt-4">
                    <ul class="text-left px-4 list-unstyled mb-0 light-300">
                        {% if categories %}
                        <ul>
                            {% for category in categories %}
                                <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <strong>There are no categories present.</strong>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <h1 class="h2 semi-bold-600 text-center mt-2">Most Viewed Pages</h1>
            <p class="text-center pb-5 light-300">Here are the most popular pages on Rango, check and see if you like them!</p>
            <section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">
        {% if pages %}
        {% for page in pages %}
        <!--            <a href="{{ page.url }}">{{ page.title }}</a>-->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <div class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="{% static 'images/services-01.jpg' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">

                        <ol class="grid">
                            <div class="grid__item">
                                <button name="{{ page.title }}" class="icobutton icobutton--heart"><span
                                        class="fa fa-heart"></span></button>
                            </div>
                        </ol>
                        <a href="{{ page.url }}" class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">{{ page.title }}</a>
                        <!--                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>-->
                    </div>
                </div>
            </div>
        </div><!-- End Recent Work -->


        {% endfor %}
        {% else %}
        <strong>There are no pages present.</strong>
        {% endif %}
    </div>
</section>

        </div>
    </section>

<script>
    $('.icobutton').click(function(){
          $.ajax({
                   type: "POST",
                   url: "{% url 'rango:favourite' %}",
                   data: {'title': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                          alert(response.message);
                          location.reload(true);
                    },
                    error: function(rs, e) {
                           alert("please login");
                    }
              });
        })


</script>

<script src="{% static 'js/mo.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>

{% endblock %}
