{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Learning List
{% endblock %}

{% block body_block %}
<h1>Here are some links you are interested in</h1>
<section class="container overflow-hidden py-5">
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">
        {% if pages %}
        {% for page in pages %}
        <!--            <a href="{{ page.url }}">{{ page.title }}</a>-->

        <!-- Start Recent Work -->
        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <div class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="{% static 'images/services-01.jpg' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-light">
                        <ol class="grid">
                            <div class="grid__item">
                                <button name="{{ page.title }}" class="icobutton icobutton--heart"><span
                                        class="fa fa-heart"></span></button>
                            </div>
                        </ol>
                        <a href="{{ page.url }}" class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">{{ page.title }}</a>
                        <!--                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>-->
                    </div>
                </div>
            </div>
        </div><!-- End Recent Work -->


        {% endfor %}
        {% else %}
        <strong>There are no pages present.</strong>
        {% endif %}
    </div>
</section>

<script>
    $('.icobutton').click(function(){
          $.ajax({
                   type: "POST",
                   url: "{% url 'rango:favourite' %}",
                   data: {'title': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                          alert(response.message);
                          location.reload(true);
                    },
                    error: function(rs, e) {
                           alert("please login");
                    }
              });
        })
</script>

<script src="{% static 'js/mo.min.js' %}"></script>
<script src="{% static 'js/demo.js' %}"></script>

{% endblock %}