{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}
{% block body_block %}
<h1>Login to Rango</h1>
<form id="login_form" method="post" action="{% url 'rango:login' %}">
    {% csrf_token %}
    Username: <input type="text" class="form-control" name="username" value="" size="50" />
    <br />
    Password: <input type="password" class="form-control" name="password" value="" size="50" />
    <a class="btn btn-sm btn-link" href="{% url 'google_login' %}">Google</a>
    <br />
    <a class="btn btn-sm btn-link" href="{% url 'password_reset' %}">Forget your password?</a>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="submit" />
</form>
{% endblock %}